<div class="container mt-5">
    <h2>Admin Dashboard</h2>

    <div class="mt-4">
        <h4>Vehicles Due for Servicing</h4>
        <ul class="list-group">
            <li *ngFor="let vehicle of dueVehicles" class="list-group-item">
                {{ vehicle.name }} - {{ vehicle.model }}
                <div class="float-end">
                    <select [(ngModel)]="selectedServiceAdvisorId" class="form-select form-select-sm">
                        <option *ngFor="let advisor of serviceAdvisors" [value]="advisor.id">{{ advisor.name }}</option>
                    </select>
                    <button class="btn btn-primary btn-sm"
                        (click)="scheduleService(vehicle.id, selectedServiceAdvisorId)">Schedule</button>
                </div>
            </li>
        </ul>
    </div>

    <div class="mt-4">
        <h4>Vehicles Under Servicing</h4>
        <ul class="list-group">
            <li *ngFor="let vehicle of underServiceVehicles" class="list-group-item">
                {{ vehicle.name }} - {{ vehicle.model }}
            </li>
        </ul>
    </div>

    <div class="mt-4">
        <h4>Serviced Vehicles</h4>
        <ul class="list-group">
            <li *ngFor="let vehicle of servicedVehicles" class="list-group-item">
                {{ vehicle.name }} - {{ vehicle.model }}
                <button class="btn btn-success btn-sm float-end" (click)="printInvoice(vehicle.id)">Print
                    Invoice</button>
            </li>
        </ul>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
    </div>
</div>